@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111315;
    font-size: 1rem;
    color: #FEF7EE;
    font-family: 'DM Sans', sans-serif;
}

button {
    font-family: inherit;
    font-weight: 700;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.banner-image {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* for 1024px */
@media (max-width: 1024px) {
    .coffee-lists {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .coffee-listing-description {
        max-width: 70%;
    }

}

/* for 640px */
@media (max-width: 640px) {
    .coffee-lists {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .coffee-listing-description {
        max-width: 100%;
    }
}